.body{
    background-color: #ffffff;
}
.quest{
    color:  #3B1F9E;
}
#overlay {
    position: absolute;
    z-index:100;
    /*width: 392px;*/
    height: 65px;
    left: 71px;
    top: 100px;

font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 3.6vw;
line-height: 65px;

color: rgba(51, 51, 51, 0.8);
}
.question{
    font-family: Nunito; 
    font-style: normal; 
    left: 95px; 
    height: 196px; 
    /*width: 609px; */
    position: absolute; 
    font-weight: 800; 
    font-size: 144px; 
    line-height: 196px; 
    color: rgba(51, 51, 51, 0.04);
    font-size:9vw;
    margin-top: 70px;
}
.div1{
    position: absolute;
    margin-top: -50px
    /*background-color: red*/
}
#inp{
  position: absolute;
width: 246px;
height: 34px;
left: 72px;
top: 296px;
background: #FFFFFF;
 border: none;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 20px;
}
#sub{
     margin-left: -05px;
     width: 23px;
    height: 23px;
    left: 289px;
    top: 302px;

     border: none; /* <-- This thing here */
      border:solid 1px #ccc;
      border-radius: 10px;
      position: absolute;

background: rgba(59, 31, 158, 0.8);
color: #FFFFFF
}
.div2{
    margin-top: 250px;
}
.div3{
    margin-top:350px;
}
.main:focus{
 background-color:#3B1F9E;;
 border-radius: 20px;
 color: white;
 /*width: 40%*/
}
.general{
    position: absolute;
    margin-top: 800px
    width: 62px;
    height: 22px;
    left: 133px;
    top: 752px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
/* identical to box height */

letter-spacing: 0.05em;

color: rgba(51, 51, 51, 0.8);
}

.text_question{
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.05em;

color: rgba(51, 51, 51, 0.8);
}
.text_answer{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    padding: 20px;
    letter-spacing: 0.05em;

    color: rgba(51, 51, 51, 0.8);
}